.drp-date-input:focus {
	border: 1px solid;
}
.drp-date-input {
	border: 1px solid transparent;
	display: inline-block;
	user-select: none;
}
.drp-weekdays {
	margin: 0;
	padding: 0;
	display: flex;
}
.drp-weekdays li {
	list-style: none;
	flex: 14%;
	padding: 0;
	margin: 0;
}

.drp-container {
	position: relative;
	user-select: none;
}

.drp-pannel-container {
	position: absolute;
	border: 1px solid #ced4da;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #fff;
}

.drp-pannel {
	display: flex;
}

.drp-pannel-month {
	box-sizing: border-box;
	margin: 0.5rem;
}

.drp-pannel-month::first-letter {
	text-transform: capitalize;
}

.drp-pannel table {
	border-collapse: collapse;
}

.drp-weekday-label {
	text-transform: uppercase;
	font-size: 0.8rem;
}

.drp-controls {
	margin: 0 0.5rem 0.5rem;
	display: flex;
	justify-content: flex-end;
}

.drp-month-label {
	text-align: center;
	font-weight: bolder;
	font-size: 1rem;
	display: block;

	flex: auto;
	text-transform: capitalize;
	font-size: 1rem;
}

.drp-month-control {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.8rem;
	align-items: baseline;
}

/* Cell */
.drp-pannel-cell {
	font-size: 0.9rem;
	width: 32px;
	height: 24px;
	line-height: 24px;
	border: 1px solid transparent;
	text-align: center;
	cursor: pointer;
}

.drp-pannel-cell:hover {
	background-color: #dadada;
}

.drp-pannel-cell.drp-pannel-cell-disabled {
	color: #999;
}

.drp-pannel-cell.drp-pannel-cell-active {
	background-color: #357ebd;
	color: #fff;
}

.drp-pannel-cell.drp-pannel-cell-selected {
	background-color: #ebf4f8;
}

/* Buttons */
.drp-btn {
	padding: 0.2rem;
	font-weight: bolder;
	border-color: transparent;
	border-radius: 4px;
	margin: 0.2rem;
	background-color: #dadada;
	cursor: pointer;
}

.drp-btn:hover {
	background-color: #e6e4e4;
}

.drp-btn.drp-btn-apply {
	color: #fff;
	background-color: #007bff;
}
.drp-btn.drp-btn-apply:hover {
	color: #fff;
	background-color: #0174f0;
}

/* Arrows */
.drp-arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.drp-arrow.drp-arrow-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.drp-arrow.drp-arrow-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.drp-arrow-container {
	cursor: pointer;
	box-sizing: border-box;
	padding: 0.3rem;
}
.drp-arrow-container:hover {
	background-color: #ececec;
}
